__pycache__/
*.pyc
.env
.env.local
*.sqlite
.DS_Store
.vscode/
.envrc
.venv/
.idea/
.mypy_cache/
.eggs/
*.egg-info/
*.log
*.db
node_modules/

# Data files
data/
datasets/consolidated/*.csv
datasets/*/*.csv
